{% extends "base.html" %}
{% block body %}
{% include "partials/playbook_card.html" with playbook=host.playbook %}
{% load pygments_highlights %}

<div class="pf-c-card" style="margin: 1em 0;">
    <div class="pf-c-card__body">
        <table class="pf-c-table pf-m-grid-md" role="grid">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Patched</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="white-space: nowrap">{{ report.host }}</td>
                    <td>{{ report.patched }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
